{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h1 class="mb-4 text-center fw-bold">Terço Mariano</h1>

      <p class="justificado"><strong>1 – Oferecimento do Terço</strong><br>
        Para rezar o Terço, basta ter um coração sincero e humilde. Aproveite este momento inicial para
        expressar seus agradecimentos e fazer os pedidos que desejar, em seguida, faça a Oração de Oferecimento
        do Terço antes de começar.</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOffering1" aria-expanded="false" aria-controls="collapseOffering1">
        <span>Oração de Oferecimento do Terço</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseOffering1" class="collapse">
        <div class="card-body justificado">
          <p>Divino Jesus,<br>
            Nós Vos oferecemos este Terço que vamos rezar,<br>
            Meditando nos mistérios da Vossa Redenção.<br>
            Concedei-nos,<br>
            Por intercessão da Virgem Maria,<br>
            Mãe de Deus e nossa Mãe,<br>
            As virtudes que nos são necessárias<br>
            Para bem rezá-lo<br>
            E a graça de ganharmos as indulgências<br>
            Desta santa devoção.</p>
        </div>
      </div>

      <br>

      <p class="justificado"><strong>2 – Faça o sinal da cruz</strong><br>
        Em nome do Pai, do Filho e do Espírito Santo. Amém!</p>

      <p class="justificado"><strong>3 – Faça a oração do Credo</strong><br>
        Faça a oração do credo segurando o crucifixo do Terço.</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOffering2" aria-expanded="false" aria-controls="collapseOffering2">
        <span>Oração do Credo</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseOffering2" class="collapse">
        <div class="card-body justificado">
          Creio em Deus pai<br>
          Todo poderoso<br>
          Criador do céu e da terra<br>
          E em Jesus Cristo<br>
          Seu único filho<br>
          Nosso Senhor<br>
          Que foi concebido<br>
          Pelo poder do Espírito Santo<br><br>

          Nasceu da Virgem Maria<br>
          Padeceu sob Pôncio Pilatos<br>
          Foi crucificado, morto e sepultado<br>
          Desceu à mansão dos mortos<br>
          Ressuscitou ao terceiro dia<br><br>

          Subiu aos céus<br>
          E está sentado a direita de Deus Pai<br>
          Todo poderoso<br>
          De onde há de vir e julgar<br>
          Os vivos e os mortos<br><br>

          Creio no Espírito Santo<br>
          E na Santa Igreja Católica<br>
          Na comunhão dos santos<br>
          Na remissão dos pecados<br>
          Na ressurreição da carne<br>
          E na vida eterna, Amém!
        </div>
      </div>

      <br>

      <p class="justificado"><strong>4 – Reze o primeiro Pai Nosso</strong><br>
        Faça a oração do Pai Nosso segurando a primeira conta do Terço (primeira bolinha).</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOffering3" aria-expanded="false" aria-controls="collapseOffering3">
        <span>Oração do Pai Nosso</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseOffering3" class="collapse">
        <div class="card-body justificado">
          Pai Nosso,<br>
          Que estais nos Céus,<br>
          Santificado seja o vosso nome,<br>
          Venha a nós o vosso reino,<br>
          Seja feita a vossa vontade,<br>
          Assim na terra, como no Céu.<br><br>

          O pão nosso de cada dia nos dai hoje,<br>
          Perdoai-nos as nossas ofensas,<br>
          Assim como nós perdoamos<br>
          A quem nos tem ofendido,<br>
          E não nos deixeis cair em tentação,<br>
          Mas livrai-nos do mal. Amém.
        </div>
      </div>

      <br>

      <p class="justificado"><strong>5 – Reze as 3 Ave-Marias</strong><br>
        Cada Oração da Ave Maria dessas 3 primeiras deverão ser precedidas de uma oração:<br><br>

        1 – A primeira Ave Maria em honra a Deus Pai que nos criou: Ave Maria…<br>
        2 – A segunda Ave Maria a Deus Filho que nos remiu: Ave Maria…<br>
        3 – A terceira Ave Maria ao Espírito Santo que nos santifica: Ave Maria…<br>
        4 – Amém!</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOffering4" aria-expanded="false" aria-controls="collapseOffering4">
        <span>Oração da Ave Maria</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseOffering4" class="collapse">
        <div class="card-body justificado">
          Ave Maria,<br>
          Cheia de graça,<br>
          O Senhor é convosco,<br>
          Bendita sois vós entre as mulheres,<br>
          E bendito é o fruto do vosso ventre, Jesus.<br><br>

          Santa Maria, Mãe de Deus,<br>
          Rogai por nós, pecadores,<br>
          Agora e na hora de nossa morte.<br>
          Amém.
        </div>
      </div>

      <br>

      <p class="justificado"><strong>6 – Glória ao Pai e Ó meu Jesus</strong><br>
        Reze as orações Glória ao Pai e Ó meu Jesus.</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOffering6a" aria-expanded="false" aria-controls="collapseOffering6a">
        <span>Glória ao Pai</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseOffering6a" class="collapse">
        <div class="card-body justificado">
          Glória ao Pai, ao Filho e ao Espírito Santo.<br>
          Como era no princípio, agora e sempre. Amém.
        </div>
      </div>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOffering6b" aria-expanded="false" aria-controls="collapseOffering6b">
        <span>Ó meu Jesus</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseOffering6b" class="collapse">
        <div class="card-body justificado">
          Ó meu Jesus, perdoai-nos, livrai-nos do fogo do inferno, levai as almas todas para o céu, principalmente
          as que mais precisarem.
        </div>
      </div>

      <br>

      <p class="justificado"><strong>7 – Meditação dos Mistérios</strong><br>
        Medite sobre os Mistérios do Rosário conforme os dias da semana indicados. <br> 
        Ex.: Neste 1º mistério contemplamos... (A Ressurreição de Jesus)</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOffering7a" aria-expanded="false" aria-controls="collapseOffering7a">
        <span>Mistérios Gloriosos (Domingos e Quartas)</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseOffering7a" class="collapse">
        <div class="card-body justificado">
          <ol>
            <li>A Ressurreição de Jesus</li>
            <li>A Ascensão de Jesus ao Céu</li>
            <li>A Descida do Espírito Santo</li>
            <li>A Assunção de Maria</li>
            <li>A Coroação de Maria como Rainha do Céu</li>
          </ol>
        </div>
      </div>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOffering7b" aria-expanded="false" aria-controls="collapseOffering7b">
        <span>Mistérios Gozosos (Segundas e Sábados)</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseOffering7b" class="collapse">
        <div class="card-body justificado">
          <ol>
            <li>A Anunciação do Anjo a Maria</li>
            <li>A Visitação de Maria a sua prima Isabel</li>
            <li>O Nascimento de Jesus em Belém</li>
            <li>A Apresentação de Jesus no Templo</li>
            <li>O Encontro de Jesus no Templo</li>
          </ol>
        </div>
      </div>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOffering7c" aria-expanded="false" aria-controls="collapseOffering7c">
        <span>Mistérios Dolorosos (Terças e Sextas)</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseOffering7c" class="collapse">
        <div class="card-body justificado">
          <ol>
            <li>A Agonia de Jesus no Horto</li>
            <li>A Flagelação de Jesus</li>
            <li>A Coroação de Espinhos</li>
            <li>Jesus carregando a cruz</li>
            <li>A Crucificação e Morte de Jesus</li>
          </ol>
        </div>
      </div>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOffering7d" aria-expanded="false" aria-controls="collapseOffering7d">
        <span>Mistérios Luminosos (Quintas)</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseOffering7d" class="collapse">
        <div class="card-body justificado">
          <ol>
            <li>O Batismo de Jesus no Jordão</li>
            <li>A Auto-revelação de Jesus nas Bodas de Caná</li>
            <li>O Anúncio do Reino de Deus</li>
            <li>A Transfiguração de Jesus</li>
            <li>A Instituição da Eucaristia</li>
          </ol>
        </div>
      </div>

      <br>

      <p class="justificado"><strong>8 – Oração de Agradecimento</strong><br>
        Agradeça pelos benefícios recebidos com esta oração.</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOffering8" aria-expanded="false" aria-controls="collapseOffering8">
        <span>Oração de Agradecimento</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseOffering8" class="collapse">
        <div class="card-body justificado">
          Infinitas graças vos damos,<br>
          Soberana Rainha,<br>
          Pelos benefícios que todos os dias<br>
          Recebemos de vossa mão liberais.<br>
          Dignai-vos, agora e para sempre,<br>
          Tomar-nos debaixo do vosso poderoso amparo<br>
          E para mais vos obrigar<br>
          Vos saudamos com uma Salve Rainha:
        </div>
      </div>

      <br>

      <p class="justificado"><strong>9 – Salve Rainha</strong><br>
        Recite a oração da Salve Rainha.</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOffering9" aria-expanded="false" aria-controls="collapseOffering9">
        <span>Salve Rainha</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseOffering9" class="collapse">
        <div class="card-body justificado">
          Salve, Rainha, Mãe de misericórdia,<br>
          Vida, doçura e esperança nossa, salve!<br>
          A vós bradamos, os degredados filhos de Eva;<br>
          A vós suspiramos, gemendo e chorando<br>
          neste vale de lágrimas.<br>
          Eia, pois, advogada nossa, esses vossos olhos misericordiosos a nós volvei;<br>
          E depois deste desterro mostrai-nos Jesus,<br>
          Bendito fruto do vosso ventre.<br>
          Ó clemente, ó piedosa, ó doce Virgem Maria!<br><br>

          Rogai por nós, santa Mãe de Deus,<br>
          Para que sejamos dignos das promessas de Cristo.<br>
          Amém.
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
