{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h1 class="mb-4 text-center fw-bold">Terço da Misericórdia</h1>

      <p class="justificado"><strong>1 – Faça o sinal da cruz</strong><br>
        Em nome do Pai, do Filho e do Espírito Santo. Amém!</p>

      <p class="justificado"><strong>2 – Faça a oração do Pai Nosso</strong><br>
        Faça a oração do Pai Nosso segurando a primeira conta pequena do Terço (primeira bolinha do trio).</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center mb-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseMisericordia2" aria-expanded="false" aria-controls="collapseMisericordia2">
        <span>Oração do Pai Nosso</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseMisericordia2" class="collapse">
        <div class="card-body justificado">
          Pai Nosso, que estais nos céus,<br>
          Santificado seja o vosso nome;<br>
          Venha a nós o vosso reino;<br>
          Seja feita a vossa vontade,<br>
          Assim na terra como no céu.<br>
          O pão nosso de cada dia nos dai hoje;<br>
          Perdoai-nos as nossas ofensas,<br>
          Assim como nós perdoamos a quem nos tem ofendido;<br>
          E não nos deixeis cair em tentação;<br>
          Mas livrai-nos do mal. Amém.
        </div>
      </div>

      <p class="justificado"><strong>3 – Faça a oração da Ave Maria</strong><br>
        Faça a oração da Ave Maria segurando a segunda conta pequena do Terço (segunda bolinha do trio).</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center mb-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseMisericordia3" aria-expanded="false" aria-controls="collapseMisericordia3">
        <span>Oração da Ave Maria</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseMisericordia3" class="collapse">
        <div class="card-body justificado">
          Ave Maria, cheia de graça,<br>
          o Senhor é convosco;<br>
          bendita sois vós entre as mulheres,<br>
          e bendito é o fruto do vosso ventre, Jesus.<br>
          Santa Maria, Mãe de Deus,<br>
          rogai por nós, pecadores,<br>
          agora e na hora de nossa morte. Amém.
        </div>
      </div>

      <p class="justificado"><strong>4 – Faça a oração do Credo</strong><br>
        Faça a oração do Credo segurando a terceira conta pequena do Terço (terceira bolinha do trio).</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center mb-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseMisericordia4" aria-expanded="false" aria-controls="collapseMisericordia4">
        <span>Oração do Credo</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseMisericordia4" class="collapse">
        <div class="card-body justificado">
          Creio em Deus Pai todo-poderoso,<br>
          Criador do céu e da terra;<br>
          e em Jesus Cristo, seu único Filho, nosso Senhor;<br>
          que foi concebido pelo poder do Espírito Santo;<br>
          nasceu da Virgem Maria;<br>
          padeceu sob Pôncio Pilatos;<br>
          foi crucificado, morto e sepultado;<br>
          desceu à mansão dos mortos;<br>
          ressuscitou ao terceiro dia;<br>
          subiu aos céus;<br>
          está sentado à direita de Deus Pai todo-poderoso;<br>
          donde há de vir a julgar os vivos e os mortos.<br>
          Creio no Espírito Santo;<br>
          na Santa Igreja Católica;<br>
          na comunhão dos santos;<br>
          na remissão dos pecados;<br>
          na ressurreição da carne;<br>
          na vida eterna. Amém.
        </div>
      </div>

      <p class="justificado"><strong>5 – Faça as 5 dezenas do Terço</strong><br>
        Faça as 5 dezenas. Cada conta grande faça "Eterno Pai" e nas 10 contas pequenas "Pela sua Dolorosa Paixão"</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center mb-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseMisericordia5" aria-expanded="false" aria-controls="collapseMisericordia5">
        <span>As 5 Dezenas do Terço da Misericórdia</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseMisericordia5" class="collapse">
        <div class="card-body justificado">
          <p>Em cada conta grande, reze:</p>
          <p><strong>Eterno Pai, eu Vos ofereço o Corpo e o Sangue, a Alma e a Divindade de Vosso Diletíssimo Filho, Nosso Senhor Jesus Cristo, em expiação dos nossos pecados e do mundo inteiro.</strong></p>
          <p>Em cada dezena, reze:</p>
          <p><strong>Pela Sua dolorosa paixão, tende misericórdia de nós e do mundo inteiro. (10x)</strong></p>
        </div>
      </div>

      <p class="justificado"><strong>6 – Deus Santo, Deus Forte...</strong><br>
        Ao fim das dezenas, faça 3x.</p>

      <button class="btn btn-primary collapse-button d-flex justify-content-between align-items-center mb-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseMisericordia7" aria-expanded="false" aria-controls="collapseMisericordia7">
        <span>Deus Santo, Deus Forte (3x)</span>
        <i class="fa-solid fa-hand-pointer"></i>
      </button>
      <div id="collapseMisericordia7" class="collapse">
        <div class="card-body justificado">
          <p>Deus Santo, Deus Forte, Deus Imortal,<br>
             tende piedade de nós e do mundo inteiro. (3x)
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
